In [2]:
import pandas as pd

train_mobile = pd.read_csv('train_data_mobile.csv')
train_static = pd.read_csv('train_data_static.csv')
test_data = pd.read_csv('test_data.csv')

In [3]:
train_data_table = pd.concat([train_mobile, train_static])

In [4]:
train_data_table

                       time    hmd    spd    tmp  pm2d5        lat         lon
0       2018-10-10 18:00:01  72.60  11.54  23.10  62.50  23.047180  113.149890
1       2018-10-10 18:00:04  72.57  10.65  23.10  62.00  23.047130  113.149900
2       2018-10-10 18:00:07  72.50  14.65  23.10  62.67  23.047000  113.149920
3       2018-10-10 18:00:10  72.50  17.50  23.10  62.33  23.046860  113.149920
4       2018-10-10 18:00:13  72.47   6.80  23.10  60.67  23.046800  113.149920
...                     ...    ...    ...    ...    ...        ...         ...
430758  2018-10-13 17:59:47  44.90   0.10  30.00  51.00  23.063979  113.139616
430759  2018-10-13 17:59:50  44.90   0.22  30.00  50.33  23.063979  113.139616
430760  2018-10-13 17:59:53  44.90   0.10  30.00  50.00  23.063979  113.139616
430761  2018-10-13 17:59:56  44.90   0.19  30.03  49.67  23.063979  113.139616
430762  2018-10-13 17:59:59  44.90   0.18  30.00  49.67  23.063979  113.139616

[808793 rows x 7 columns]

In [5]:
train_data_table = train_data_table.reset_index(drop=True)

In [6]:
train_data_cell = []
count = []
flag = 0
for i in range(1,train_data_table.shape[0]):
    if train_data_table['time'][i] < train_data_table['time'][i-1]:
        count.append(i)
        if i > train_static.shape[0] and flag == 0:
            num_static = len(count)-1
            flag = 1
count = [0] + count + [train_data_table.shape[0]]
print(count)
for i in range(1, len(count)):
    train_data_cell.append(train_data_table.iloc[count[i-1]:count[i], :])
num_mobile = len(train_data_cell) - num_static
data_combine = train_data_cell

[0, 37759, 82356, 124202, 165572, 224859, 283571, 323654, 378030, 464130, 550338, 636483, 722709, 808793]

In [7]:
data_combine[0]

                      time    hmd    spd   tmp  pm2d5       lat        lon
0      2018-10-10 18:00:01  72.60  11.54  23.1  62.50  23.04718  113.14989
1      2018-10-10 18:00:04  72.57  10.65  23.1  62.00  23.04713  113.14990
2      2018-10-10 18:00:07  72.50  14.65  23.1  62.67  23.04700  113.14992
3      2018-10-10 18:00:10  72.50  17.50  23.1  62.33  23.04686  113.14992
4      2018-10-10 18:00:13  72.47   6.80  23.1  60.67  23.04680  113.14992
...                    ...    ...    ...   ...    ...       ...        ...
37754  2018-10-13 17:59:48  45.80   0.18  30.3  45.33  23.05404  113.13995
37755  2018-10-13 17:59:51  45.80   0.23  30.3  45.00  23.05404  113.13995
37756  2018-10-13 17:59:54  45.80   0.30  30.3  45.33  23.05404  113.13995
37757  2018-10-13 17:59:57  45.80   0.26  30.3  46.00  23.05403  113.13994
37758  2018-10-13 18:00:00  45.80   0.13  30.3  46.00  23.05403  113.13994

[37759 rows x 7 columns]

In [6]:
num_static,num_mobile

(8, 5)

In [7]:
len(data_combine)

13

In [8]:
import numpy as np

data_total_minute = [0]*len(data_combine)
for i in range(len(data_combine)):
    time = pd.to_datetime(data_combine[i]['time'])
    date = time.dt.date
    unique_date = date.unique()
    date_ = time.dt.strftime('%m/%d/%Y')
    dayName = time.dt.strftime('%A')
    hour_ = time.dt.strftime('%H')
    minute_ = time.dt.strftime('%M')
    dayNumber = time.dt.weekday
    data = data_combine[i].assign(date_=date_, dayName=dayName, hour_=hour_, minute_=minute_, dayNumber=dayNumber)
    data_gb_datemin = data.groupby(['date_', 'hour_', 'minute_']).mean()
    time_minutely = pd.to_datetime(date_ + ' ' + hour_ + ':' + minute_, format='%m/%d/%Y %H:%M')
    time_minutely = np.unique(time_minutely)
    hmd = data_gb_datemin['hmd']
    spd = data_gb_datemin['spd']
    tmp = data_gb_datemin['tmp']
    pm2d5 = data_gb_datemin['pm2d5']
    lat = data_gb_datemin['lat']
    lon = data_gb_datemin['lon']
    data_total_minute[i] = pd.DataFrame({'time':time_minutely, 'hmd':hmd, 'spd':spd, 'tmp':tmp, 'pm2d5':pm2d5, 'lat':lat, 'lon':lon})
    # data_total_minute[i] = data_total_minute[i].rename(columns={0: "time", 1:'hmd', 2:'spd', 3:'tmp', 4:'pm2d5', 5:'lat', 6:'lon'})

In [112]:
data_total_minute

[                                        time        hmd        spd        tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  72.269000   9.322500  23.141500
                  01      2018-10-10 18:01:00  72.040000  10.764500  23.216500
                  02      2018-10-10 18:02:00  71.694500  12.371000  23.300000
                  03      2018-10-10 18:03:00  71.566316  19.153684  23.392632
                  04      2018-10-10 18:04:00  71.405500  19.408500  23.458500
 ...                                      ...        ...        ...        ...
 10/13/2018 17    56      2018-10-13 17:56:00  46.329500   0.140500  30.200000
                  57      2018-10-13 17:57:00  45.988000   0.155500  30.200000
                  58      2018-10-13 17:58:00  45.838500   0.138000  30.271000
                  59      2018-10-13 17:59:00  45.916500   0.170000  30.300000
            18    00      2018-10-13 18:00:00  45.800000   0.130000  30.300000

                               pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       59.629500  23.046429  113.149907
                  01       58.737000  23.045162  113.149919
                  02       58.766500  23.042737  113.149968
                  03       58.288947  23.041467  113.150395
                  04       58.245000  23.040402  113.153119
 ...                             ...        ...         ...
 10/13/2018 17    56       48.516500  23.054038  113.139946
                  57       48.133000  23.054032  113.139945
                  58       47.949500  23.054032  113.139947
                  59       46.800000  23.054038  113.139949
            18    00       46.000000  23.054030  113.139940

 [1918 rows x 7 columns],
                                         time        hmd        spd        tmp  \
 date_      hour_ minute_
 10/10/2018 20    56      2018-10-10 20:56:00  67.916250   0.342500  22.095000
                  57      2018-10-10 20:57:00  68.770000   0.290000  22.200000
            21    04      2018-10-10 21:04:00  69.964615   4.009231  22.496923
                  05      2018-10-10 21:05:00  69.786500  19.839000  22.847000
                  06      2018-10-10 21:06:00  68.684500  31.794000  23.236500
 ...                                      ...        ...        ...        ...
 10/13/2018 17    28      2018-10-13 17:28:00  50.055000   0.473000  28.187000
                  29      2018-10-13 17:29:00  50.100000   0.489000  28.157500
                  30      2018-10-13 17:30:00  50.113500   0.509000  28.182000
                  31      2018-10-13 17:31:00  50.200000   0.429000  28.195000
                  32      2018-10-13 17:32:00  50.200000   0.413000  28.120000

                               pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 20    56       49.583750  23.044401  113.145128
                  57       46.670000  23.044420  113.145130
            21    04       47.691538  23.044664  113.143754
                  05       46.550000  23.043311  113.143008
                  06       47.301000  23.040862  113.141660
 ...                             ...        ...         ...
 10/13/2018 17    28       53.416000  23.024505  113.129997
                  29       54.583000  23.024505  113.130037
                  30       53.600000  23.024516  113.130021
                  31       52.466500  23.024525  113.130057
                  32       52.866000  23.024509  113.130038

 [2287 rows x 7 columns],
                                         time        hmd       spd        tmp  \
 date_      hour_ minute_
 10/10/2018 18    05      2018-10-10 18:05:00  74.037647  0.182353  20.662353
                  06      2018-10-10 18:06:00  76.399000  0.231500  20.975000
                  07      2018-10-10 18:07:00  76.710000  0.246500  21.275000
                  08      2018-10-10 18:08:00  76.463000  2.770000  21.551500
                  09      2018-10-10 18:09:00  76.035000  0.231000  21.790000
 ...                                      ...        ...       ...        ...
 10/13/2018 17    55      2018-10-13 17:55:00  43.473500  0.150500  31.500000
                  56      2018-10-13 17:56:00  43.400000  0.140500  31.500000
                  57      2018-10-13 17:57:00  43.400000  0.134500  31.500000
                  58      2018-10-13 17:58:00  43.366000  0.118500  31.500000
                  59      2018-10-13 17:59:00  43.390000  0.135500  31.534000

                               pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    05       57.863529  23.047827  113.135783
                  06       57.665500  23.047806  113.135780
                  07       56.783500  23.047832  113.135771
                  08       57.250500  23.047832  113.135664
                  09       59.849500  23.047786  113.135378
 ...                             ...        ...         ...
 10/13/2018 17    55       48.633000  23.054080  113.140003
                  56       49.636500  23.054080  113.140000
                  57       49.934000  23.054080  113.140007
                  58       49.184000  23.054082  113.140002
                  59       47.649000  23.054088  113.140000

 [2145 rows x 7 columns],
                                         time      hmd     spd      tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  50.3030  0.2965  28.4000
                  01      2018-10-10 18:01:00  50.3085  0.2195  28.4000
                  02      2018-10-10 18:02:00  50.2615  0.3605  28.4105
                  03      2018-10-10 18:03:00  50.5255  0.3070  28.4115
                  04      2018-10-10 18:04:00  51.2680  0.3725  28.4400
 ...                                      ...      ...     ...      ...
 10/13/2018 17    56      2018-10-13 17:56:00  42.2400  0.2360  31.6000
                  57      2018-10-13 17:57:00  42.1050  0.2685  31.6370
                  58      2018-10-13 17:58:00  42.0170  0.2365  31.7000
                  59      2018-10-13 17:59:00  41.9165  0.2215  31.7000
            18    00      2018-10-13 18:00:00  41.9000  0.3100  31.7000

                             pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       49.7835  23.058331  113.130608
                  01       50.2830  23.058353  113.130565
                  02       50.8995  23.058364  113.130527
                  03       50.0335  23.058340  113.130531
                  04       50.0835  23.058350  113.130590
 ...                           ...        ...         ...
 10/13/2018 17    56       49.5335  23.058247  113.130845
                  57       50.5165  23.058288  113.130825
                  58       49.6995  23.058275  113.130828
                  59       49.0500  23.058217  113.130810
            18    00       50.0000  23.058180  113.130790

 [2103 rows x 7 columns],
                                         time        hmd      spd      tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  53.715000  54.6150  28.5000
                  01      2018-10-10 18:01:00  55.246667  31.0680  28.5000
                  02      2018-10-10 18:02:00  54.168500  13.0825  28.5000
                  03      2018-10-10 18:03:00  54.025500  29.6750  28.5000
                  04      2018-10-10 18:04:00  53.690000  40.6915  28.5030
 ...                                      ...        ...      ...      ...
 10/13/2018 17    55      2018-10-13 17:55:00  46.679500   0.1350  30.2000
                  56      2018-10-13 17:56:00  46.651500   0.1245  30.2000
                  57      2018-10-13 17:57:00  46.578500  13.7275  30.2000
                  58      2018-10-13 17:58:00  46.600500  12.8020  30.2015
                  59      2018-10-13 17:59:00  46.700000   6.9550  30.2400

                             pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       53.0000  23.069680  113.146615
                  01       52.9780  23.069337  113.159982
                  02       53.8155  23.069190  113.162840
                  03       52.7330  23.067792  113.164447
                  04       54.2505  23.061943  113.165560
 ...                           ...        ...         ...
 10/13/2018 17    55       64.3665  23.030083  113.156723
                  56       56.9500  23.030086  113.156722
                  57       52.3830  23.030019  113.155832
                  58       52.7340  23.029982  113.153528
                  59       59.0830  23.030037  113.151449

 [3032 rows x 7 columns],
                                         time        hmd        spd     tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  50.917500   5.364000  28.100
                  01      2018-10-10 18:01:00  51.034000  11.108500  28.100
                  02      2018-10-10 18:02:00  51.270526   0.531579  28.100
                  03      2018-10-10 18:03:00  51.100000   2.379000  28.100
                  04      2018-10-10 18:04:00  51.115789   3.011053  28.100
 ...                                      ...        ...        ...     ...
 10/13/2018 17    55      2018-10-13 17:55:00  46.300000   0.130000  29.300
                  56      2018-10-13 17:56:00  46.368500   0.140000  29.300
                  57      2018-10-13 17:57:00  46.328500   0.155500  29.300
                  58      2018-10-13 17:58:00  46.176500   0.134500  29.300
                  59      2018-10-13 17:59:00  46.100000   0.160000  29.332

                               pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       53.029000  23.035580  113.118633
                  01       52.308000  23.033819  113.118558
                  02       53.236842  23.033187  113.118523
                  03       53.350000  23.033133  113.118513
                  04       51.662105  23.032521  113.118509
 ...                             ...        ...         ...
 10/13/2018 17    55       51.867000  23.061666  113.159932
                  56       52.000500  23.061655  113.159947
                  57       52.266500  23.061651  113.159930
                  58       51.833500  23.061659  113.159944
                  59       50.967000  23.061667  113.159939

 [2991 rows x 7 columns],
                                         time      hmd      spd     tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  55.6000  32.6145  27.300
                  01      2018-10-10 18:01:00  55.5115  38.7670  27.311
                  02      2018-10-10 18:02:00  55.3050  46.4995  27.383
                  03      2018-10-10 18:03:00  55.3315  39.1535  27.400
                  04      2018-10-10 18:04:00  55.2820  36.0695  27.400
 ...                                      ...      ...      ...     ...
 10/13/2018 17    56      2018-10-13 17:56:00  42.0285   7.3850  31.600
                  57      2018-10-13 17:57:00  42.0285  20.5415  31.600
                  58      2018-10-13 17:58:00  42.0000  18.6505  31.600
                  59      2018-10-13 17:59:00  42.0000   0.1515  31.600
            18    00      2018-10-13 18:00:00  42.0000   5.8600  31.600

                             pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       54.6845  23.067256  113.164725
                  01       54.5840  23.061495  113.165624
                  02       56.8830  23.055243  113.166354
                  03       55.5330  23.048870  113.166279
                  04       55.7985  23.043070  113.166393
 ...                           ...        ...         ...
 10/13/2018 17    56       54.5835  23.064213  113.149871
                  57       52.4665  23.064862  113.149253
                  58       54.0335  23.065285  113.144920
                  59       54.0495  23.065311  113.144234
            18    00       53.0000  23.065310  113.144200

 [2049 rows x 7 columns],
                                         time      hmd      spd     tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  54.7320  15.5200  27.752
                  01      2018-10-10 18:01:00  54.7280   1.2370  27.791
                  02      2018-10-10 18:02:00  54.9000   0.1615  27.800
                  03      2018-10-10 18:03:00  55.1950  30.5275  27.800
                  04      2018-10-10 18:04:00  54.8720  26.6530  27.800
 ...                                      ...      ...      ...     ...
 10/13/2018 17    55      2018-10-13 17:55:00  50.6370   6.8520  28.600
                  56      2018-10-13 17:56:00  50.4100   0.1505  28.600
                  57      2018-10-13 17:57:00  50.2050  17.0380  28.600
                  58      2018-10-13 17:58:00  50.2915  43.4415  28.600
                  59      2018-10-13 17:59:00  50.2550  39.6850  28.600

                             pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       52.6170  23.030365  113.138813
                  01       54.5660  23.030351  113.137602
                  02       52.8995  23.030356  113.137600
                  03       54.4665  23.030323  113.135559
                  04       51.1165  23.030272  113.129879
 ...                           ...        ...         ...
 10/13/2018 17    55       64.6825  23.039227  113.161054
                  56       65.9555  23.039312  113.160558
                  57       63.5835  23.039397  113.159836
                  58       63.0830  23.040354  113.154406
                  59       60.8665  23.041623  113.147394

 [2790 rows x 7 columns],
                                         time      hmd     spd      tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  44.5535  0.1975  31.5095
                  01      2018-10-10 18:01:00  44.3045  0.2250  31.5075
                  02      2018-10-10 18:02:00  44.2565  0.2195  31.5015
                  03      2018-10-10 18:03:00  44.4665  0.1925  31.5000
                  04      2018-10-10 18:04:00  44.5715  0.1905  31.5000
 ...                                      ...      ...     ...      ...
 10/13/2018 17    55      2018-10-13 17:55:00  48.5340  0.2165  29.0000
                  56      2018-10-13 17:56:00  48.4945  0.1925  29.0000
                  57      2018-10-13 17:57:00  48.4170  0.1945  29.0000
                  58      2018-10-13 17:58:00  48.4140  0.2195  29.0000
                  59      2018-10-13 17:59:00  48.4300  0.2215  29.0000

                             pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       47.8330  23.045572  113.164823
                  01       48.7490  23.045572  113.164823
                  02       48.2170  23.045572  113.164823
                  03       49.7160  23.045572  113.164823
                  04       48.9330  23.045572  113.164823
 ...                           ...        ...         ...
 10/13/2018 17    55       46.7505  23.045572  113.164823
                  56       45.2170  23.045572  113.164823
                  57       44.5495  23.045572  113.164823
                  58       43.1505  23.045572  113.164823
                  59       44.1670  23.045572  113.164823

 [4320 rows x 7 columns],
                                         time      hmd     spd   tmp    pm2d5  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  59.5000  0.1135  25.9  46.2830
                  01      2018-10-10 18:01:00  59.4415  0.1185  25.9  46.5330
                  02      2018-10-10 18:02:00  59.4250  0.1195  25.9  45.9410
                  03      2018-10-10 18:03:00  59.3000  0.1260  25.9  46.4415
                  04      2018-10-10 18:04:00  59.3000  0.1305  25.9  47.2665
 ...                                      ...      ...     ...   ...      ...
 10/13/2018 17    56      2018-10-13 17:56:00  46.6000  0.1430  29.6  46.6675
                  57      2018-10-13 17:57:00  46.6650  0.1230  29.6  47.1495
                  58      2018-10-13 17:58:00  46.6950  0.1615  29.6  51.4335
                  59      2018-10-13 17:59:00  46.6080  0.1295  29.6  51.5000
            18    00      2018-10-13 18:00:00  46.7000  0.1800  29.6  52.0000

                                 lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       23.051252  113.125344
                  01       23.051252  113.125344
                  02       23.051252  113.125344
                  03       23.051252  113.125344
                  04       23.051252  113.125344
 ...                             ...         ...
 10/13/2018 17    56       23.051252  113.125344
                  57       23.051252  113.125344
                  58       23.051252  113.125344
                  59       23.051252  113.125344
            18    00       23.051252  113.125344

 [4321 rows x 7 columns],
                                         time      hmd     spd      tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  54.4865  0.1470  27.0000
                  01      2018-10-10 18:01:00  54.6515  0.1670  27.0000
                  02      2018-10-10 18:02:00  54.5785  0.1655  27.0000
                  03      2018-10-10 18:03:00  54.4000  0.1575  27.0000
                  04      2018-10-10 18:04:00  54.4285  0.1515  27.0000
 ...                                      ...      ...     ...      ...
 10/13/2018 17    55      2018-10-13 17:55:00  48.3700  0.1425  28.8955
                  56      2018-10-13 17:56:00  48.2000  0.1515  28.8985
                  57      2018-10-13 17:57:00  48.1300  0.1570  28.8955
                  58      2018-10-13 17:58:00  48.1000  0.1675  28.9000
                  59      2018-10-13 17:59:00  48.1000  0.1650  28.8920

                             pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       50.9165  23.029907  113.149094
                  01       51.0665  23.029907  113.149094
                  02       51.7165  23.029907  113.149094
                  03       51.8675  23.029907  113.149094
                  04       53.2005  23.029907  113.149094
 ...                           ...        ...         ...
 10/13/2018 17    55       52.4165  23.029907  113.149094
                  56       51.9665  23.029907  113.149094
                  57       52.5670  23.029907  113.149094
                  58       52.3670  23.029907  113.149094
                  59       52.7160  23.029907  113.149094

 [4320 rows x 7 columns],
                                         time      hmd     spd      tmp  \
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00  59.8000  0.1530  26.5000
                  01      2018-10-10 18:01:00  59.8985  0.1440  26.5000
                  02      2018-10-10 18:02:00  59.9170  0.1400  26.5000
                  03      2018-10-10 18:03:00  59.9080  0.1430  26.5000
                  04      2018-10-10 18:04:00  59.9650  0.1190  26.5000
 ...                                      ...      ...     ...      ...
 10/13/2018 17    55      2018-10-13 17:55:00  44.3985  0.1230  30.9985
                  56      2018-10-13 17:56:00  44.3555  0.1400  30.9245
                  57      2018-10-13 17:57:00  44.3000  0.1655  30.9000
                  58      2018-10-13 17:58:00  44.3000  0.1375  30.9000
                  59      2018-10-13 17:59:00  44.3715  0.1270  30.9000

                             pm2d5        lat         lon
 date_      hour_ minute_
 10/10/2018 18    00       49.8495  23.044381  113.142363
                  01       51.0160  23.044381  113.142363
                  02       51.3000  23.044381  113.142363
                  03       49.8165  23.044381  113.142363
                  04       49.4665  23.044381  113.142363
 ...                           ...        ...         ...
 10/13/2018 17    55       41.7500  23.044381  113.142363
                  56       42.2330  23.044381  113.142363
                  57       42.6990  23.044381  113.142363

In [9]:
  scale = 1
  scale_parameter = 1

In [10]:
# seasonal decomposition for static data
data_cleaned_static = []
for i in range(num_static):  # only static
    T = 60 * 24 * scale
    sw25 = [1/(2*T)] + [1/T] * (T - 1) + [1/(2*T)]
    trend = np.convolve(data_total_minute[i]['pm2d5'], sw25, 'same')

    # padding the trend
    trend_padded = np.pad(trend[int(T/2):-int(T/2)], (int(T/2), int(T/2)), "constant", constant_values=(trend[int(T/2)], trend[-int(T/2)]))

    T1 = len(data_total_minute[i]['pm2d5'])
    sidx = {}
    for ii in range(T):
        sidx[ii] = list(range(ii, T1, T))

    detrend_data = data_total_minute[i]['pm2d5'] - trend_padded  # detrend
    seasonal = [np.mean(detrend_data[sidx[ii]]) for ii in range(T)]  # generate seasonal trend
    nc = T1 // T
    rm = T1 % T
    seasonal = seasonal * nc + seasonal[:rm]
    sBar = np.mean(seasonal)
    seasonal = seasonal - sBar
    residual = data_total_minute[i]['pm2d5'] - trend_padded - seasonal
    pm2d5_clean = trend_padded + seasonal
    time = data_total_minute[i]['time']
    data_cleaned_static.append(pd.DataFrame({'time': time, 'pm2d5_clean': pm2d5_clean}))

In [11]:
# seasonal decomposition for mobile
data_cleaned_mobile = []
for i in range(num_static,num_static+num_mobile):  # only mobile
    T = 60 * 24 * scale
    sw25 = [1/(2*T)] + [1/T] * (T - 1) + [1/(2*T)]
    trend = np.convolve(data_total_minute[i]['pm2d5'], sw25, 'same')

    # padding the trend
    trend_padded = np.pad(trend[int(T/2):-int(T/2)], (int(T/2), int(T/2)), "constant", constant_values=(trend[int(T/2)], trend[-int(T/2)]))

    T1 = len(data_total_minute[i]['pm2d5'])
    sidx = {}
    for ii in range(T):
        sidx[ii] = list(range(ii, T1, T))

    detrend_data = data_total_minute[i]['pm2d5'] - trend_padded  # detrend
    seasonal = [np.mean(detrend_data[sidx[ii]]) for ii in range(T)]  # generate seasonal trend
    nc = T1 // T
    rm = T1 % T
    seasonal = seasonal * nc + seasonal[:rm]
    sBar = np.mean(seasonal)
    seasonal = seasonal - sBar
    residual = data_total_minute[i]['pm2d5'] - trend_padded - seasonal
    pm2d5_clean = trend_padded + seasonal
    time = data_total_minute[i]['time']
    data_cleaned_mobile.append(pd.DataFrame({'time': time, 'pm2d5_clean': pm2d5_clean}))

In [125]:
data_cleaned_mobile

[                                        time  pm2d5_clean
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00    38.270545
                  01      2018-10-10 18:01:00    37.460145
                  02      2018-10-10 18:02:00    37.939164
                  03      2018-10-10 18:03:00    38.434178
                  04      2018-10-10 18:04:00    38.029924
 ...                                      ...          ...
 10/13/2018 17    55      2018-10-13 17:55:00    43.442850
                  56      2018-10-13 17:56:00    42.459776
                  57      2018-10-13 17:57:00    42.449898
                  58      2018-10-13 17:58:00    41.795777
                  59      2018-10-13 17:59:00    42.307358

 [4320 rows x 2 columns],
                                         time  pm2d5_clean
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00    36.172245
                  01      2018-10-10 18:01:00    33.240020
                  02      2018-10-10 18:02:00    33.378894
                  03      2018-10-10 18:03:00    32.987885
                  04      2018-10-10 18:04:00    34.593059
 ...                                      ...          ...
 10/13/2018 17    56      2018-10-13 17:56:00    37.452457
                  57      2018-10-13 17:57:00    36.810148
                  58      2018-10-13 17:58:00    38.595896
                  59      2018-10-13 17:59:00    38.359598
            18    00      2018-10-13 18:00:00    41.034088

 [4321 rows x 2 columns],
                                         time  pm2d5_clean
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00    39.810773
                  01      2018-10-10 18:01:00    39.466362
                  02      2018-10-10 18:02:00    40.082072
                  03      2018-10-10 18:03:00    40.281662
                  04      2018-10-10 18:04:00    40.458126
 ...                                      ...          ...
 10/13/2018 17    55      2018-10-13 17:55:00    49.173547
                  56      2018-10-13 17:56:00    48.608810
                  57      2018-10-13 17:57:00    47.771079
                  58      2018-10-13 17:58:00    46.646390
                  59      2018-10-13 17:59:00    46.269862

 [4320 rows x 2 columns],
                                         time  pm2d5_clean
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00    36.096562
                  01      2018-10-10 18:01:00    35.598329
                  02      2018-10-10 18:02:00    36.056501
                  03      2018-10-10 18:03:00    35.913896
                  04      2018-10-10 18:04:00    35.510243
 ...                                      ...          ...
 10/13/2018 17    55      2018-10-13 17:55:00    36.756371
                  56      2018-10-13 17:56:00    36.891619
                  57      2018-10-13 17:57:00    37.371110
                  58      2018-10-13 17:58:00    37.789762
                  59      2018-10-13 17:59:00    36.941233

 [4320 rows x 2 columns],
                                         time  pm2d5_clean
 date_      hour_ minute_
 10/10/2018 18    00      2018-10-10 18:00:00    37.351973
                  01      2018-10-10 18:01:00    37.476349
                  02      2018-10-10 18:02:00    36.360789
                  03      2018-10-10 18:03:00    38.136451
                  04      2018-10-10 18:04:00    38.037060
 ...                                      ...          ...
 10/13/2018 17    55      2018-10-13 17:55:00    43.659505
                  56      2018-10-13 17:56:00    43.478394
                  57      2018-10-13 17:57:00    42.993768
                  58      2018-10-13 17:58:00    42.954205
                  59      2018-10-13 17:59:00    43.389574

 [4320 rows x 2 columns]]

In [12]:
from scipy.signal import gaussian

def smooth_data(data, window_size):
    # Generate a 1D Gaussian kernel
    kernel = gaussian(window_size, std=window_size / 4)
    # Normalize the kernel
    kernel /= kernel.sum()
    # Convolve the data with the kernel
    smooth_data = np.convolve(data, kernel, 'same')
    return smooth_data
window_size = 60*24*scale_parameter

data_total_pro = data_total_minute
for i in range(num_static):
    data_total_pro[i]['pm2d5'] = data_cleaned_static[i]['pm2d5_clean']
    data_total_pro[i]['hmd'] = smooth_data(data_total_pro[i]['hmd'], window_size)
    data_total_pro[i]['spd'] = smooth_data(data_total_pro[i]['spd'], window_size)
    data_total_pro[i]['tmp'] = smooth_data(data_total_pro[i]['tmp'], window_size)

In [13]:
#parameter cleaning for mobile sensor
for i in range(num_mobile):
    data_total_pro[i+num_static]['pm2d5'] = data_cleaned_mobile[i]['pm2d5_clean']
    data_total_pro[i+num_static]['hmd'] = smooth_data(data_total_pro[i+num_static]['hmd'], window_size)
    data_total_pro[i+num_static]['spd'] = smooth_data(data_total_pro[i+num_static]['spd'], window_size)
    data_total_pro[i+num_static]['tmp'] = smooth_data(data_total_pro[i+num_static]['tmp'], window_size)

In [200]:
import pandas as pd

#putting data into one matrix and sort the data
data_onematrix = pd.concat(data_total_pro)
data_total_sorted = data_onematrix.sort_values(by='time')

#normalize the data, using range
timenum_train = pd.to_datetime(data_total_sorted['time']).astype(int) // 10**9
test_data['time'] = pd.to_datetime(test_data['time']).astype(int) // 10**9
data_total_norm_para = data_total_sorted[['time', 'hmd', 'spd', 'tmp', 'lat', 'lon']]
# data_total_norm_para_withtest = pd.concat([data_total_norm_para, test_data])
# data_total_norm_para_withtest = (data_total_norm_para_withtest - data_total_norm_para_withtest.min()) / (data_total_norm_para_withtest.max() - data_total_norm_para_withtest.min())
data_total_norm_para = (data_total_norm_para - data_total_norm_para.min()) / (data_total_norm_para.max() - data_total_norm_para.min())

<ipython-input-200-4dd9c1467c53>:8: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  timenum_train = pd.to_datetime(data_total_sorted['time']).astype(int) // 10**9
<ipython-input-200-4dd9c1467c53>:9: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  test_data['time'] = pd.to_datetime(test_data['time']).astype(int) // 10**9

In [209]:
x = data_total_norm_para
y = data_total_sorted['pm2d5']

In [202]:
x.shape[0]

40916

In [210]:
x = x.interpolate()

In [204]:
x

                              time       hmd       spd       tmp       lat  \
date_      hour_ minute_
10/10/2018 18    00       0.000000  0.140802  0.419463  0.027903  0.348846
                 00       0.000000   0.13576  0.364544  0.020971  0.530174
                 00       0.000000    0.1724  0.358073  0.027009  0.551273
                 00       0.000000  0.160968  0.326464   0.02243  0.208987
                 00       0.000000       0.0   0.00207  0.146216  0.341385
...                            ...       ...       ...       ...       ...
10/13/2018 17    59       0.999769  0.073084  0.002129  0.121427  0.501639
           18    00       1.000000  0.080786  0.487711   0.09991  0.415022
                 00       1.000000  0.059352  0.000084  0.116717  0.390836
                 00       1.000000  0.074076  0.469015  0.097812  0.513227
                 00       1.000000  0.096046  0.278206  0.091844  0.451152

                               lon
date_      hour_ minute_
10/10/2018 18    00       0.854722
                 00       0.923844
                 00       0.839368
                 00       0.802972
                 00       0.924303
...                            ...
10/13/2018 17    59        0.80672
           18    00       0.808231
                 00       0.740145
                 00       0.828103
                 00       0.765549

[40916 rows x 6 columns]

In [211]:
y = y.interpolate()

In [35]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor
kfold = KFold(n_splits=5)
model = RandomForestRegressor(random_state=42)
scoring = 'neg_mean_squared_error'
results = cross_val_score(model, x, y, cv=kfold, scoring=scoring)

#calculate and print the mean and standard deviation of the RMSE
rmse_scores = np.sqrt(-results)
print(f"RMSE scores: {rmse_scores}")

RMSE scores: [13.13360772 16.43253044 14.80278617 16.49591012 21.22524687]

In [ ]:
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import Matern

# define the Matern/Exponential kernel function
kernel = Matern()

# create the GPR model with the Matern/Exponential kernel function
gpr = GaussianProcessRegressor(kernel=kernel)
gpr.fit(x, y)

scores = -1 * cross_val_score(gpr, x, y, cv=kfold, scoring=scoring)
rmse = np.sqrt(np.mean(scores))

print(f'RMSE: {rmse:.3f}')

In [212]:
x = x.values
x.reshape(-1,6)

array([[0.0, 0.14080231282302116, 0.4194630653445531,
        0.02790342453651101, 0.34884643607824223, 0.854722204729555],
       [0.0, 0.1357603573448097, 0.3645437884404367, 0.02097109400610225,
        0.5301736253622158, 0.9238439094019925],
       [0.0, 0.17239972666322373, 0.3580731538943253,
        0.027009124002266256, 0.551272962451619, 0.839368304680327],
       ...,
       [1.0, 0.05935244993586504, 8.354261917783823e-05,
        0.11671728101358511, 0.3908361628297467, 0.740145212489289],
       [1.0, 0.07407576000851135, 0.46901505513453073,
        0.09781155368736871, 0.5132271183910921, 0.8281030248325864],
       [1.0, 0.09604567334698032, 0.27820569074963714,
        0.0918435700364906, 0.4511523201870452, 0.7655492348706086]],
      dtype=object)

In [213]:
x.shape[0]

40916

In [214]:
x = np.reshape(x, (-1, 1, 6))

In [215]:
y = y.values
y = np.reshape(y, (-1, 1, 1))

In [235]:
import tensorflow as tf
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.optimizers import Adam

x = tf.convert_to_tensor(x, dtype=tf.float32)
y = tf.convert_to_tensor(y, dtype=tf.float32)

# define the model
model = tf.keras.Sequential()
model.add(LSTM(32, input_shape=(1, 6), activation='relu'))
model.add(Dense(1))

# compile the model with Adam optimization and RMSE loss function
model.compile(optimizer=Adam(learning_rate=0.008), loss='mean_squared_error')

# fit the model to the data
history = model.fit(x, y, epochs=10, batch_size=64, validation_split=0.2)

# use cross-validation to evaluate the model
scores = model.evaluate(x, y, verbose=0)
print("RMSE:", np.sqrt(scores))

Epoch 1/10
512/512 [==============================] - 2s 2ms/step - loss: 263.6782 - val_loss: 184.7177
Epoch 2/10
512/512 [==============================] - 1s 2ms/step - loss: 108.9625 - val_loss: 146.2929
Epoch 3/10
512/512 [==============================] - 1s 2ms/step - loss: 101.0138 - val_loss: 147.7546
Epoch 4/10
512/512 [==============================] - 1s 2ms/step - loss: 99.5098 - val_loss: 163.9632
Epoch 5/10
512/512 [==============================] - 1s 2ms/step - loss: 98.9752 - val_loss: 161.9338
Epoch 6/10
512/512 [==============================] - 1s 2ms/step - loss: 98.5144 - val_loss: 161.2200
Epoch 7/10
512/512 [==============================] - 1s 2ms/step - loss: 98.0421 - val_loss: 147.5322
Epoch 8/10
512/512 [==============================] - 1s 2ms/step - loss: 95.3189 - val_loss: 145.1168
Epoch 9/10
512/512 [==============================] - 1s 2ms/step - loss: 90.1263 - val_loss: 137.3894
Epoch 10/10
512/512 [==============================] - 1s 2ms/step - loss: 85.0274 - val_loss: 150.6181
RMSE: 9.849919399183435